.box {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: red;
  animation: changeColors 5s 1s infinite linear; //animation-name, duration, delay, iteration-count timing-function
}

@keyframes changeColors {
  0% {
    background-color: pink;
    top: 0;
    left: 0;
  }
  25% {
    background-color: orange;
    top: 0;
    left: 400px;
  }
  50% {
    background-color: yellow;
    top: 400px;
    left: 400px;
  }
  75% {
    background-color: blue;
    top: 400px;
    left: 0;
  }
  100% {
    background-color: green;
    top: 0;
    left: 0;
  }
}

.truck {
  position: fixed;
  bottom: 2px;
  left: -200;
  animation: truckLeftToRight 8s 0s infinite linear;
}

.wheel {
  display: flex;
  justify-content: space-around;
}

.wheel img {
  animation: wheelRotate 1s 0s infinite linear;
}

@keyframes truckLeftToRight {
  0% {
    left: -200px;
  }
  100% {
    left: 120%;
  }
}

@keyframes wheelRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
